<ul name="parameterContentType" id="{{parameterContentTypeId}}">
{{#if consumes}}
  {{#each consumes}}
  	<li value="{{{this}}}">{{{this}}}</li>
  {{/each}}
{{else}}
  <li value="application/json">application/json</li>
{{/if}}
</ul>
